<particles [params]="particlesParams" [style]="particlesStyle" [width]="particlesWidth" [height]="particlesHeight"></particles>
<div class="overlay"></div>
<img #logo src="../assets/smartUpyog.png" alt="">
<button class="button" (click)="onGetStarted()" [hidden]="!showGetStartedButton">Get Started</button>
<div class="setting-icon right-icon text-light" [hidden]="!showGetStartedButton">
    <fa name="cog"></fa>
</div>
<div class="history-icon right-icon text-light" [hidden]="!showGetStartedButton">
    <fa name="history"></fa>
</div>
<div class="about-icon right-icon text-light" [hidden]="!showGetStartedButton">
    <fa name="info-circle hover"></fa>
</div>
<app-primaryinput [hidden]="!showPrimaryInput_Parent" [showPrimaryInput_Child]="showPrimaryInput_Parent" (messageEvent)="receiveData($event)"></app-primaryinput>
<router-outlet></router-outlet>
